#profile-wrapper {
    margin-top: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-img {
    margin-bottom: 9%;
    width: 45%;
    height: auto;
}

#btn-wrapper{
    right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin-right: 2%;
}

.cancel-btn{
    border: none;
    outline: none;

    background-color: transparent;
    text-decoration: underline;
    color: #707070;
    font-size: 18px;
    font-family: 'IBM Plex Sans Thai';
    
}

.cancel-btn:active{
    color: lightblue;
}

.save-btn{
    border: none;
    outline: none;

    display: block;
    background-color: #284572;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'IBM Plex Sans Thai';
    color: white;

    padding-left: 5%;
    padding-right: 5%;
}

.save-btn:active{
    background-color: #072F5F;
    transform: translateY(1.5px);
}

#field-container {
    margin-right: 15%;
    margin-left: 15%;
}


