.TemplatePage{
    padding-top:9%;
    background-color: #F6F6F6;
}
.Back{
    position: relative;
    top: 11px;
    left: 4%;
    width: 32px;
    height: 32px;
    background-color: #C9C9C9BE;
    opacity: 80%;
    border-radius: 500px;
    text-align: center;
    vertical-align: auto;
}
.placeholder{
    width:100%;
    height:250px;
    background-color: tomato;
}