#App {
    padding-left: 18px;
    padding-right: 18px;
    min-height:100%;
    background-image: linear-gradient(to bottom, #61B5E8,#F6F6F6);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
