* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
  }

#field-wrapper {
    display: flex;
    flex-direction: column;
}

#loginframe{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 152px;
    width: 329px;
    background-color: #FFFFFF;
    border-radius: 0px 500px 500px 0px;
    box-shadow: 1px 2px 20px #00000014;
    position: relative;
    display: flex;
    flex-direction: row;
}
.inputbox{
    margin: 10px;
    width:268px;
    height:40px;
    border-radius: 500px;
    border: 1px solid #707070;
    outline: none;
}

#logintext{
    text-align: center;
    margin-top: 173px;
    font-family: Arial,Helvetica;
    color: #646464;
}
#loginword{
    font-size: 23px;
    font-weight: 600;
}
#loginsubtext{
    font-size: 18px;
    font-weight: 25;
}