#GreetBox{
    width:100%;
    padding-top: 30px;
    overflow: hidden;
}
#Welcome{
    color:white;
    font-size: 6.5vw;
    font-weight: 500;
}
#subWelcome{
    color:white;
    font-size: 4vw;
    font-weight: 200;
}
#CircleBox{
    width: 45vw;
    height: 45vw    ;
    position: absolute;
    right: 0%;
    top: 0%;
    overflow: hidden;
    
}
#InfoCircle{
    position: absolute;
    right: -12%;
    top:-26.5%;
    overflow: hidden;
    padding-top: 18px;
    padding-right: 14px;

    width: 45vw;
    height: 45vw;
    border-radius: 500px;
    background-color: #284572;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
#aqi-column {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#temperature-column{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#Line{
    margin-top: 16px;
    margin-bottom: 10px;
    margin-left: 1.5px;
    background-color: #D9D9D9;
    width: 55%;
    height: 1.5px;
}
#aqi{
    width: 13vw;
    flex-grow: 0;
    flex-shrink: 0;
}
#weather{
   width: 13vw;
   flex-grow: 0;
   flex-shrink: 0;
}
#aqi-number{
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 4vw;
}
#temperature{
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 4vw;
}
@media only screen and (min-width: 768px){
    #GreetBox{
        width:100%;
        padding-top: 30px;
        overflow: hidden;
    }
    #Welcome{
        color:white;
        font-size: 6.5vw;
        font-weight: 500;
    }
    #subWelcome{
        color:white;
        font-size: 4vw;
        font-weight: 200;
    }
    #CircleBox{
        width: 35vw;
        height: 35vw    ;
        position: absolute;
        right: 0%;
        top: 0%;
        overflow: hidden;
        
    }
    #InfoCircle{
        position: absolute;
        right: -12%;
        top:-26.5%;
        overflow: hidden;
        padding-top: 18px;
        padding-right: 14px;
    
        width: 35vw;
        height: 35vw;
        border-radius: 500px;
        background-color: #284572;
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }
    #aqi-column {
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #temperature-column{
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #Line{
        margin-top: 16px;
        margin-bottom: 10px;
        margin-left: 1.5px;
        background-color: #D9D9D9;
        width: 65%;
        height: 1.5px;
    }
    #aqi{
        width: 10vw;
        flex-grow: 0;
        flex-shrink: 0;
    }
    #weather{
       width: 10vw;
       flex-grow: 0;
       flex-shrink: 0;
    }
    #aqi-number{
        color: white;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 3vw;
    }
    #temperature{
        color: white;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 3vw;
    }
}