#GreetBox{
    width:100%;
    padding-top: 33px;
    overflow: hidden;
}
#Welcome{
    color:white;
    font-size: 23px;
    font-weight: 500;
}
#subWelcome{
    color:white;
    font-size: 15px;
    font-weight: 20;
}
#CircleBox{
    width: 158px;
    height: 141px;
    position: absolute;
    right: 0%;
    top: 0%;
    overflow: hidden;
    
}
#InfoCircle{
    position: absolute;
    right: -12%;
    top:-26.5%;
    overflow: hidden;
    padding-top: 18px;
    padding-right: 14px;

    width: 177px;
    height: 177px;
    border-radius: 500px;
    background-color: #284572;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
#aqi-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#temperature-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#Line{
    margin-top: 16px;
    margin-left: 1.5px;
    background-color: #D9D9D9;
    width: 204px;
    height: 1.5px;
}
#aqi{
    width: 53px;
    flex-grow: 0;
    flex-shrink: 0;
}
#weather{
   width: 32px;
   height: 32px;
   margin-top: 20%;
}
#aqi-number{
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
}
#temperature{
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 50%;
}