#active {
  visibility: visible;
  transition: all 200ms ease-in;
  
}

#hidden {
  visibility: hidden;
  transition: all 300ms ease-out;
  animation-timing-function: linear;
  transform: translate(0, 120%);
}