.FeedBubble{
    width: 338px;
    height: 179px;
    border-radius: 10px;
    background-color: grey;
    box-shadow: #00000029 1px 3px 5px;
    margin-bottom: 20px;
    margin-top: 16px;
    float:left;
}